.place {
    display: grid;
    gap: 48px 40px;
    padding-bottom: 80px;
    grid-template-areas: 
    "title website"
    "image paragraph_first"
    "image paragraph_second";
}

.place:last-child {
    grid-template-areas: 
    "title website"
    "image paragraph_second"
    "image .";
}