.lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-size: 96px;
    font-weight: bold;
    line-height: 1.05;
    color: #FFFFFF;
}

@media screen and (max-width: 690px) {
    .lead__title {
        max-width: 330px;
        font-size: 40px;
        padding: 0 16px;
    }
}