.website__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.website_link:hover {
    opacity: .8;
    transition: .5s;
}