@media screen and (max-width: 1024px) {
    .lead {
        width: calc(100% - 96px);
    }
    .intro {
        padding-left: 48px;
    }
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 92px 66px 92px 30px;
    }
    .places {
        width: calc(100% - 96px);
    }
    .place__image {
        max-width: 440px;
    }
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
    }
    .lead {
        width: 100%;
    }
    .lead__caption {
        padding-left: 24px;
    }
    .intro {
        max-width: 720px;
        margin: 0 auto;
        padding-left: 0;
        width: calc(100% - 48px);
    }
    .intro__title {
        padding-top: 88px;
    }
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 88px 24px;
    }
    .places {
        width: calc(100% - 48px);
    }
    .place {
        padding-bottom: 72px;
    }
    .place:last-child {
        padding-bottom: 90px;
    }
    .place__title {
        max-width: 340px;
        font-size: 42px;
    }
    .place__image {
        max-width: 340px;
    }
    .place__paragraph {
        font-size: 16px;
    }
    .cover__overlay {
        min-height: 480px;
    }
    .footer {
        width: calc(100% - 48px);
        padding: 88px 0 24px;
    }
}

@media screen and (max-width: 690px) {
    .header {
        width: calc(100% - 32px);
        padding: 16px 0 48px;
    }
    .header__logo {
        width: 142px;
        height: 42px;
    }
    .header__lang-link {
        font-size: 18px;
    }
    .lead__title {
        max-width: 330px;
        font-size: 40px;
        padding: 0 16px;
    }
    .lead__subtitle {
        max-width: 330px;
        font-size: 16px;
        padding: 16px 16px 40px;
    }
    .lead__caption {
        padding-left: 16px;
    }
    .intro {
    width: calc(100% - 32px);
    }
    .intro__title {
        font-size: 32px;
        padding-top: 64px;
    }
    .intro__list {
        padding: 34px 0 0;
    }
    .place {
        padding-bottom: 50px;
        gap: 32px;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "paragraph_first"
        "paragraph_second";
    }
    .place:last-child {
        padding-bottom: 66px;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "paragraph_second";
    }
    .place__title {
        font-size: 32px;
        padding: 0 16px;
    }
    .place__website {
        padding: 0 16px;
    }
    .place__image {
        max-width: 100%;
        padding: 0;
    }
    .place__paragraph {
        padding: 0 16px;
    }
    .cover__overlay {
        min-height: 360px;
    }
    .cover__title {
        max-width: 250px;
        padding: 0 16px;
        font-size: 32px;
    }
    .cover__subtitle {
        padding: 16px 16px 0;
        font-size: 14px;
    }
    .footer {
        width: calc(100% - 32px);
        padding: 64px 0 24px;
        flex-direction: column;
    }
    .footer__links {
        flex-direction: column;
    }
    .footer__link_padding {
        padding-bottom: 32px;
    }
    .footer__link_padding:last-child {
        padding-bottom: 0;
    }
    .footer__link {
        padding: 0;
        font-size: 24px;
        line-height: 1;
    }
    .footer__copyright {
        padding-top: 48px;
        text-align: left;
        line-height: 1;
    }
}

@media screen and (max-width: 425px) {
    .places {
        width: 100%;
    }
    .place__image {
        padding: 0;
    }
    .photo-grid {
        padding: 64px 16px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    .cover__overlay {
        min-height: 200px;
}