.cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 740px;
    position: relative;
    z-index: 0;
    text-decoration: none;
    overflow: hidden;
    background-repeat: round;
    background-size: 100%;
    background-image: url(../../../images/cover/cover-trains.jpg);
}

.cover__overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;;
    opacity: .3;
    z-index: -1;
    transition: opacity 200ms ease-in-out;
}

.cover__overlay:hover::before {
    opacity: .8;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 690px) {
    .cover__overlay {
        min-height: 360px;
    }
}

@media screen and (max-width: 425px) {
    .cover__overlay {
        min-height: 200px;
    }
}